.myapplystatus {
  &__title-container {
    display: flex;
    align-items: flex-end;
    gap: 13px;
    margin-bottom: 30px;
  }

  &__title {
    color: $color-main;
    font-size: 25px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 3px;
  }

  &__filter {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 38px;

    &-item {
      width: 65px;
      min-width: fit-content;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #adb5bd;

      &--active {
        font-weight: bold;
        height: 38px;
        border-bottom: 2px solid #333b3d;
        color: #333b3d;
      }
    }
  }

  &__separator {
    border-bottom: 1px solid $color-solid-line;
    margin-bottom: 16px;
  }

  &__loading,
  &__error {
    width: 850px;
    height: 100px;
    display: grid;
    place-items: center;
    color: $color-red;
  }
}

// 모달 스타일
.modal__list {
  max-width: 700px;
  min-width: 500px;
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &_item {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 16px;

    span {
      width: fit-content;
      height: fit-content;
      padding: 2px 10px;
      border-radius: 4px;
      color: white;
      background-color: $color-dark-gray;
      font-size: 12px;
    }

    a {
      color: $color-blue;
      text-decoration: underline;
    }
  }
}
