.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  &__button {
    height: 48px;
    margin-top: 23px;
  }

  &__inputblock {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 15px;
  }

  &__submit {
    margin-top: 21px;
    width: 100%;
    min-height: 48px;
  }

  &__profileImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    label {
      font-weight: bold;
      margin-bottom: 10px;
    }

    input[type="file"] {
      display: none;
    }

    .profileImg__preview {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ccc;
      margin-bottom: 10px;
    }

    .profileImg__button {
      background-color: #6c63ff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #5753c9;
      }
    }
  }
}
